body {
  padding-top: 70px;
}
div.route-info{
    padding-right:30px;
}
#map {
    min-height: 500px;
    height: 100%;
}

#setCenterUI {
    cursor: pointer;
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    text-align: center;
}

#setCenterText {
    color: #000;
    padding: 0px 5px;
    line-height: 25px;
}
